* {
    box-sizing: border-box;
    font-size: 1rem;
}

:root {
    --primary-cyan-800:     hsl(158, 36%, 37%);
    --primary-cream-200:    hsl(30, 38%, 92%);
    --neutral-blue-900:     hsl(212, 21%, 14%);
    --neutral-blue-700:     hsl(228, 12%, 48%);
    --neutral-white:        hsl(0, 0%, 100%);
}

/* 
    "Montserrat", sans-serif;
    "Fraunces", serif;
*/


p {
    font-size: 0.875rem;
}