*, *::before, *::after {
    box-sizing: border-box;
    font-size: 1rem;
}

:root {
    --primary-cyan-800:     hsl(158, 36%, 37%);
    --primary-cream-200:    hsl(30, 38%, 92%);
    --neutral-blue-900:     hsl(212, 21%, 14%);
    --neutral-blue-700:     hsl(228, 12%, 48%);
    --neutral-white:        hsl(0, 0%, 100%);
}

/* 
    "Montserrat", sans-serif;
    "Fraunces", serif;
*/

body {
    background-color: var(--primary-cream-200);
    font-family: 'Montserrat', sans-serif;
}

.accent-font {
    font-family: "Fraunces";
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    margin-top: 1.25rem;
    background-color: var(--neutral-white);
    border-radius: 1rem;
}

.wrapper__text {
    padding: 1rem;
}

.flex {
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.type {
    text-transform: uppercase;
}

p {
    font-size: 0.875rem;
}

.old-price {
    text-decoration: line-through;
}

button {
    padding: 0.75rem;
    background-color: var(--primary-cyan-800);
    color: #fff;
    border-style: none;
    border-radius: 0.5rem;
}

.cart-icon {
    width: 1rem;
    margin-right: 1rem;
}